body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('watch.png');
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    
}

.stopwatch {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    text-align: center;
}

.display {
    font-size: 3em;
    margin-bottom: 20px;
}

.controls button {
    font-size: 1em;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.controls button:hover {
    background-color: #0056b3;
}

.laps {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

.laps li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
